# Custom ignores
build/
bin/
bak/
gen/
gen-external-apklibs/
lint.xml
res/values/com_crashlytics_export_strings.xml
assets/crashlytics-build.properties
local.properties

# Eclipse
.classpath
.project
project.properties
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
target/

# Crashlytics
crashlytics.properties

#Gradle
.gradle

# Android signing secrets
appsigning/keystore_2010_android.jks
appsigning/May2009_cert
fabric.properties

# google-services.json (add your own for Firebase)
google-services.json